@import "src/styles";
.sidebar{
    width: 232px;
    z-index: 9;
    height: 100%;
    position: fixed;
    top: 48px;
    left: 0;
    overflow-x: hidden;
    transition: left 0.5s ease-in-out;
    padding: 0 0 100px 0;
    background: $white;
    background: url(../../../assets/images/sidebar-bg.jpg) no-repeat;
    ul{
        li{
            position: relative;
            margin: 0;
            padding: 0;
            &:before{
                background-color: #09417a;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transition: width 0.2s ease-in 0s;
                width: 4px;
                z-index: -1;
                border-left: 4px solid #067fff;
                opacity: 0;
            }
            &:hover:before, &.active{
                opacity: 1;
                transition: width 0.2s ease-in 0s;
                width: 100%;
            }
            &:after{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-right: 12px solid #fff;
                border-bottom: 10px solid transparent;
                content: "";
                opacity: 0;
                transition: all ease-in-out 0.3s;
            }
            &:hover::after{
                opacity: 1;
            }
            a{
                color: $white;
                padding: 18px 10px 18px 38px;
                display: block;
                font-size: 14px;
                font-weight: 500;
                .navImage{
                    width: 46px;
                    display: inline-block;
                }
            }
        }
    }
}