<nav class="sidebar">
    <ul class="list-unstyled">
        <li [routerLinkActive]="['active']"><a routerLink='./account-list'>
            <span class="navImage"><img src="../../../assets/images/nav-icon2.png" alt=""></span>
            Accounts
        </a></li>
        <li [routerLinkActive]="['active']"><a routerLink='./login'>
            <span class="navImage"><img src="../../../assets/images/nav-icon2.png" alt=""></span>
            Login
        </a></li>
        <li [routerLinkActive]="['active']"><a routerLink='./register'>
            <span class="navImage"><img src="../../../assets/images/nav-icon2.png" alt=""></span>
            Register
        </a></li>
    </ul>
</nav>